.questionInputContainer {
    border-radius: 0.5rem;
    box-shadow:
        0px 0.5rem 1rem rgba(0, 0, 0, 0.14),
        0px 0px 0.125rem rgba(0, 0, 0, 0.12);
    width: 100%;
    padding: 0.8rem;
    background: white;
    position: relative;
    padding-bottom: calc(0.8rem + 0.5rem); /* Increased padding at the bottom */
}

.questionInputContainer::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.25rem;
    background: linear-gradient(to right, #e8b028, #0663a5);
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

.questionInputTextArea {
    width: 100%;
    line-height: 2.5rem;
}

.questionInputButtonsContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

@media (min-width: 992px) {
    .questionInputContainer {
        height: 5.625rem;
    }
}
