.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    position: relative;
}

.chatRoot {
    flex: 1;
    display: flex;
    justify-content: center;
}
/*
.chatContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    max-width: 70rem;
    max-height: calc(100vh - 6.75rem);
    padding-bottom: 6.75rem;
} */

.chatContainer {
    flex: 1;
    display: flex;
    flex-direction: column; /* Plaatst items in een kolom */
    justify-content: flex-end; /* Duwt de chatInput naar de onderkant */
    height: 100vh; /* Zorgt ervoor dat de container de volledige schermhoogte inneemt */
    margin: 0; /* Verwijdert eventuele marges */
    box-sizing: border-box; /* Houdt rekening met padding/borders */
    max-width: 70rem;
    max-height: calc(100vh - 6.75rem);
}

.chatEmptyState {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* min-height: 80vh; */
    /* padding: 2rem; */
    margin-bottom: 5%;
    box-sizing: border-box;
}

.chatEmptyStateHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.chatEmptyStateHeader img {
    width: 120px;
    height: 120px;
    margin-bottom: 1rem; /* Ruimte tussen logo en titel */
}

.chatEmptyStateTitle {
    font-size: 2.5rem; /* Grotere titel voor zichtbaarheid */
    font-weight: 650;
    color: #333;
    margin: 0 0 1rem 0; /* Ruimte onder de titel voor de subtitel */
}

.chatEmptyStateSubtitle {
    font-size: 1.5rem; /* Iets grotere subtitel */
    font-weight: 400;
    color: #666;
    margin: 0; /* Geen extra marges voor consistentie */
}

.chatEmptyStateContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center;
    margin-top: 1.5rem;
}

.chatMessageStream {
    flex-grow: 1;
    max-height: 64rem;
    width: 100%;
    overflow-y: auto;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    min-width: 50vw;
}

.chatMessageGpt {
    margin-bottom: 1.25rem;
    max-width: 100%;
    display: flex;
}

.chatMessageGptMinWidth {
    max-width: 31.25rem;
    margin-bottom: 1.25rem;
}

.chatInput {
    position: relative;
    bottom: 0;
    width: 80%;
    max-width: 64.25rem;
    padding: 1rem;
    background: #f2f2f2;
    box-sizing: border-box;
    align-self: center;
}

/* left: 50%;
    transform: translateX(-50%); */

.chatAnalysisPanel {
    flex-grow: 1;
    overflow-y: auto;
    max-height: 85vh;
    margin-left: 1.25rem;
    margin-right: 1.25rem;
}

.iconButtonWrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -20px; /* Pas dit aan om de exacte positie van de knop te bepalen */
    display: flex;
    align-items: center;
    z-index: 1; /* Zorg ervoor dat de knop boven andere elementen komt */
}

.chatSettingsSeparator {
    display: flex;
    flex-direction: column;
    margin-top: 0.9375rem;
}

.loadingLogo {
    font-size: 1.75rem;
}

.commandsSplitContainer {
    display: flex;
    justify-content: space-between;
    z-index: 1000;
}

.commandsContainer {
    display: flex;
    padding-left: 1rem;
    padding-right: 1rem;
    align-self: flex-end;
    z-index: 1000;
}

.commandButton {
    margin-bottom: 1.25rem;
}

@media (min-width: 992px) {
    .container {
        margin-top: 1rem;
    }

    .chatEmptyState {
        padding-top: 3.75rem;
    }

    .chatEmptyStateTitle {
        font-size: 2.5rem;
    }

    .chatEmptyStateHeader img {
        width: 100px;
        height: 100px;
    }

    .chatInput {
        padding: 0.75rem 1.5rem 1.5rem;
    }

    .commandsSplitContainer {
        padding-left: 1rem;
    }

    .commandsContainer {
        padding-left: 0rem;
        padding-right: 0rem;
    }

    .commandButton {
        margin-right: 1.25rem;
        margin-bottom: 1.25rem;
    }

    .chatMessageGpt {
        max-width: 80%;
        min-width: 31.25rem;
    }

    .disclaimerText {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center;
        padding: 10px;
        font-size: 0.8rem;
        color: #666;
        z-index: 1000;
    }

    .chatAnalysisPanelContainer {
        position: relative;
        display: flex;
        height: 100vh;
    }

    .collapsePanelButton {
        position: absolute;
        left: -32px;
        top: 8px;
        z-index: 1;
    }
}
