.examplesGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    padding: 1rem;
    max-width: 500px;
    margin: 0 auto;
}

.example {
    word-break: break-word;
    background: #dbdbdb;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    padding: 0.75rem;
}

.example:hover {
    box-shadow:
        0rem 0.5rem 1rem rgba(0, 0, 0, 0.14),
        0rem 0rem 0.125rem rgba(0, 0, 0, 0.12);
    outline: 0.125rem solid rgba(115, 118, 225, 1);
}

.exampleText {
    margin: 0;
    font-size: 1rem;
    padding: 0.3rem;
    min-height: 4rem;
}

@media only screen and (max-width: 768px) {
    .examplesGrid {
        grid-template-columns: 1fr;
    }
}
